@import "Twilight";

pre {
  text-align: center;
  color: $color_12;
  font-size: 1.2rem;
  margin: auto;
  transition: 0.25s;
  &:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
}

body {
  background-color: $background;
  font-family: Mononoki, sans-serif;
}

h1 {
  text-align: center;
  color: $color_12;
}

.socials {
  text-align: center;
  color: $color_12;
  margin: 50px;
}

.masonry {
  --gap: clamp(1rem, 5vmin, 2rem);
  columns: 300px;
  //gap: var(--gap);
  max-width: 960px;
  margin: 5rem auto;
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

.frame {
  border-radius: 8px;
  max-width: 100%;
  transition: 0.25s;
  &:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
}

.bio {
  background: rgba($color_09 ,20%);
  padding: 20px;
  color: $color_08;
  margin: auto auto;
  max-width: 960px;
  font-family: Mononoki, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.togglename {
  cursor: pointer;
  align-items: center;
}

a {
  .icon{
    text-decoration: none;
  }
  &:link {
    text-decoration: none;
    color: $color_12;
  };
  &:visited {
    text-decoration: none;
    color: $color_02;
  }
  &:hover {
    text-decoration: none;
    color: $color_10;
  }
  &:active {
    text-decoration: none;
    color: $color_12;
  }
}

.fullscreencontainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreengallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66%;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.fullscreenimage {
  height: 100vh;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.fullscreenblog {
  background-color: $color_09;
  width: 34%;
  height: 100%;
  padding: 20px;
  z-index: 700;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

p {
  color: $color_08;
}

span {
  text-shadow: 1em 1em $color_05
}

img {
  user-select: none;
  transition: opacity 300ms ease-in;
}

.errorlol {
  font-size: 7rem;
  height: 70%;
}

.floating_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: $color_13;
  color: $color_08;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensures the button stays on top */
  &:hover {
    background-color: $color_10; /* Darker color on hover */
  }
}

.floating_x_button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: $color_13;
  color: $color_08;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensures the button stays on top */
  &:hover {
    background-color: $color_10; /* Darker color on hover */
  }
}
