{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>Bat Boss Illustration</h1>
        <h2>~ Fantasie ~</h2>
        <p>
            &emsp;&emsp;The goal of this concept was mostly to practive workflow.
        </p>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, ftype) = ("HighRes", "jpg") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_final.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_grey.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_01.{{ftype}} /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_877.webm" type="video/webm">
            </video></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_00.{{ftype}} /></li>
        {% else %}
        {% set (res, ftype) = ("LowRes", "avif") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_final.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_grey.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_01.{{ftype}} /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_877.webm" type="video/webm">
            </video></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_877_00.{{ftype}} /></li>
        {% endif %}
    </ul>
</article>
