{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>Carbonix Worker Suit</h1>
        <p>&emsp;&emsp;An exosuit concept for workers. The suit focuses on movement and transportation.</p>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, ftype) = ("HighRes", "jpg") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_830_15.{f{type}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_829.{{ftype}} /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_830.webm" type="video/webm">
            </video></li>
        {% else %}
        {% set (res, ftype) = ("LowRes", "avif") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_830_15.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_829.{{ftype}} /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_830.webm" type="video/webm">
            </video></li>
        {% endif %}
    </ul>
</article>
