{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>CLimbing Exo-suit delta</h1>
        <p>
            &emsp;&emsp;I'm unhappy about the result of this concept. This taught me valuable lesson in concept design.
            Many flaw can be spoted. I plan to adress these flaws while doing the 3D model of it.
        </p>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, type) = ("HighRes", "jpg") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_843_noise.{{type}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_843_color.{{type}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_842.{{type}} /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_843.webm" type="video/webm">
            </video></li>
        {% else %}
        {% set (res, type) = ("LowRes", "avif") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_843_noise.{{type}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_843_color.{{type}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/sketch_842.{{type}} /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_843.webm" type="video/webm">
            </video></li>
        {% endif %}
    </ul>
</article>
