{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>Intru</h1>
        <h2> == 3D MODEL ==</h2>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, ftype) = ("HighRes", "jpg") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/model_03.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Stylized_003.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Posed.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Back3quarter.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Front3quarter.{{ftype}} /></li>
        {% else %}
        {% set (res, ftype) = ("LowRes", "avif") %}
        <li><img src=/assets/projects/{{project}}/{{res}}/model_03.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Stylized_003.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Posed.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Back3quarter.{{ftype}} /></li>
        <li><img src=/assets/projects/{{project}}/{{res}}/model_003_Front3quarter.{{ftype}} /></li>
        {% endif %}
    </ul>

</article>
