{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>S.A.M.U Medical Staff</h1>
        <h2>~ Concept Character ~</h2>
        <p>
            To aid injured soldiers and reduce casualties, a special division was created.
            This team of medical soldiers is trained to de-escalate situations and retrieve individuals in peril.
            Using advanced tear gas bombs and stealth balloon drones, these specialists have a significant impact on
            saving lives in the chaos of the battlefield.
        </p>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, ftype) = ("HighRes", "jpg") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_849_08.{{ftype}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_851.{{ftype}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_852.{{ftype}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_853.{{ftype}}" /></li>
        {% else %}
        {% set (res, ftype) = ("LowRes", "avif") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_849_08.{{ftype}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_851.{{ftype}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_852.{{ftype}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_853.{{ftype}}" /></li>
        {% endif %}
    </ul>

</article>
