{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>S.A.M.U Medical intervention</h1>
        <h2>Illustration</h2>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, type) = ("HighRes", "jpg") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_859_final.{{type}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_859_compo.{{type}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_859_Gray.{{type}}" /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_859.webm" type="video/webm">
            </video></li>
        {% else %}
        {% set (res, type) = ("LowRes", "avif") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_859_final.{{type}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_859_compo.{{type}}" /></li>
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_859_Gray.{{type}}" /></li>
        <li><video autoplay loop muted playsinline>
                <source src="/assets/projects/{{project}}/{{res}}/sketch_859.webm" type="video/webm">
            </video></li>
        {% endif %}
    </ul>

</article>
