{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>Scarabe Jonkey Player</h1>
        <h2>Team Blue</h2>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, type) = ("HighRes", "jpg") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_741.{{type}}" /></li>
        {% else %}
        {% set (res, type) = ("LowRes", "avif") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_741.{{type}}" /></li>
        {% endif %}
    </ul>

</article>
