{%- import "macros/snipets.html" as snipets -%}
<article id="{{project}}">
    {% call snipets::CloseButton %}
    {% call snipets::ResolutionButton %}

    <div class={{crate::ClassName::FULLSCREEN_BLOG}}>
        <h1>Yellow Demon</h1>
        <h2>_Tribal Demon_</h2>
        <p>&emsp;&emsp;An old drawing I made that focuses on rendering</p>
    </div>

    <ul>
        {% if high_res %}
        {% set (res, type) = ("HighRes", "jpg") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_716.{{type}}" /></li>
        {% else %}
        {% set (res, type) = ("LowRes", "avif") %}
        <li><img src="/assets/projects/{{project}}/{{res}}/sketch_716.{{type}}" /></li>
        {% endif %}
    </ul>

</article>
