{%- import "macros/snipets.html" as snipets -%}

{% call snipets::SectionTitle("CV") %}

<section class={{crate::ClassName::CURRICULUM_VITAE}}>
  <figure class={{crate::ClassName::PROFILE}}>
    <img src="/assets/CurriculumVitae/profile.avif" alt="Profil d'Audrick Yeu"></img>
  </figure>

  <hgroup class={{crate::ClassName::INTRO}}>
    <h1><span>¶ </span>Audrick Yeu</h1>
    <p>
      Étudiant en Concept Art <br />
      Intéressé par le design et la programmation. <br />
      Email : <a href="mailto:audrickyeu@proton.me">audrickyeu@proton.me</a><br />
      Mobile : <a href="tel:+33670691665">+33 6 70 69 16 65</a><br />
      Site web : <a href="https://portofolio.klownie.me">portofolio.klownie.me</a><br />
    </p>
  </hgroup>

  <hgroup class={{crate::ClassName::FORMATION}}>
    <h1><span>¶ </span>Formation</h1>
    <p>
      <strong><time>2023–2024</time></strong><br />
      New3dge, école de Game Art & VFX<br />
      <u>1ère année générale </u><br /><br />

      <strong><time>2022</time></strong><br />
      École internationale Marguerite Duras, Ho Chi Minh Ville, Vietnam.<br />
      <u>Spécialité</u> : NSI et Mathématiques.<br />
      Site web : <a href="https://lfiduras.com">lfiduras.com</a><br />

    </p>
  </hgroup>

  <hgroup class={{crate::ClassName::EXPERIENCE}}>
    <h1><span>¶ </span>Expérience</h1>
    <p>
      <strong><time>Juillet 2022</time></strong><br />
      Stage chez Biti’s au centre de design d'une usine de chaussures de 3000 employés à Binh Duong, sud du
      Vietnam.<br />
      Travail en équipe avec 30 employés vietnamiens, contribution à la création de nouveaux modèles de chaussures
      casual et semi-sport.<br />
      Site web : <a href="https://bitis.com.vn">bitis.com.vn</a><br />
    </p>
  </hgroup>

  <hgroup class={{crate::ClassName::LANGAGE}}>
    <h1><span>¶ </span>Langues</h1>
    <p>
      <strong>Français</strong> : langue maternelle<br />
      <strong>Anglais</strong> : bilingue<br />
      <strong>Chinois mandarin</strong> : niveau élémentaire<br />
    </p>
  </hgroup>
  <hgroup class={{crate::ClassName::SKILLS}}>
    <h1><span>¶ </span>Capacité</h1>
    <ul>
      <li><strong>Concept Art</strong> : Design de personnage (travail visitable sur mon website)</li>
      <li><strong>Website Building</strong> : mettre en place un website et faire la mise en forme avec du css et du
        html (mon website et mis en place par moi)</li>
      <li><strong>Programmation</strong> : Programme en Rust. Fabrique des jeux vidéo.</li>
    </ul>
  </hgroup>
</section>
