<!DOCTYPE html>
<html lang="en" >
<head>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, viewport-fit=cover">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/hyperscript.min.js"></script>
    <link rel="icon" href="/assets/favicon.svg" as="image" type="image/svg+xml">
<!--    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />-->
    {% block head %}{% endblock %}
</head>
<body theme="Twilight"
      _="on swap(theme) set @theme to theme"
>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>