<!DOCTYPE html>
<html lang="en" >
<head>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, viewport-fit=cover">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/hyperscript.min.js"></script>
    <script >

        var timeout;

        document.addEventListener('mousemove', (e) => {
            const cursor = document.querySelector('#cursor');
            cursor.style.display = "block";
            if (cursor) {
                cursor.style.left = `${e.clientX}px`;
                cursor.style.top = `${e.clientY}px`;
                cursor.classList.remove('{{crate::ClassName::DISAPPEAR}}');
            }
            function mouseStopped() {
                cursor.classList.add('{{crate::ClassName::DISAPPEAR}}');
            }
            clearTimeout(timeout);
            timeout = setTimeout(mouseStopped, 2000);
        });

        document.addEventListener('mouseenter', (e) => {
            if (e.target.matches('a, button, [role="button"]')) {
                const cursor = document.querySelector('#cursor');
                if (cursor) cursor.classList.add('{{crate::ClassName::GROW}}');
            }
        }, true);

        document.addEventListener('mouseleave', (e) => {
            if (e.target.matches('a, button, [role="button"]')) {
                const cursor = document.querySelector('#cursor');
                if (cursor) cursor.classList.remove('{{crate::ClassName::GROW}}');
            }
        }, true);

        document.addEventListener("mouseout", () => {
            const cursor = document.querySelector('#cursor');
            if (cursor) {
                cursor.classList.add('{{crate::ClassName::DISAPPEAR}}');
            }
        });
    </script>
    <link rel="icon" href="/assets/favicon_light.svg" as="image" type="image/svg+xml" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/assets/favicon_dark.svg" as="image" type="image/svg+xml" media="(prefers-color-scheme: dark)">

    {% block head %}{% endblock %}
</head>
<body
        theme="Twilight"
      _="on swap(theme) set @theme to theme"
>
    {% block content %}{% endblock %}
</body>
</html>