{%- import "macros/icons.html" as icons -%}


{% if fullscreen %}
    <button
        class="{{crate::ClassName::FLOATING_X_BUTTON}}"
        hx-get="api/fullscreen?fullscreen=true&project={{project}}"
        hx-swap="innerHTML"
        hx-target="#toggledcontainer"
        hx-trigger="click"
        _="on click remove .{{crate::ClassName::NO_SCROLL}} from <body/>"
    >
        {%- call icons::IconButtonX -%}
    </button>

    <div
        hx-get="api/projects/{{project}}"
        hx-trigger="load"
        hx-swap="outerHTML"
    >
    </div>
{% else %}
{% endif %}
