{% extends "partials/base.html" %}
{%- import "macros/js.html" as js -%}

{% block title %}Audrick Yeu | Portofolio{% endblock %}

{% block head %}

<meta name="fediverse:creator" content="@klownie_@mastodon.social">

<meta name="author" content="Audrick Yeu">
<meta name="robots" content="index, follow">
<meta name="description" content="Audrick Concept Art Portofolio">
<meta name="keywords" content="Audrick, Yeu, Concept Artist, Portofolio, Klownie">

<meta property="og:type" content="website">
<meta property="og:url" content="https://portofolio.klownie.me">
<meta property="og:title" content="Audrick Yeu - Portofolio">
<meta property="og:description" content="Personal concept portofolio website">

<style>
    {{ crate::STYLE_SHEET|safe}}
</style>

{%- call js::htmx -%}
{%- call js::CoolCursor -%}
<script src="/assets/js/hyperscript.min.js"></script>

{% endblock %}

{% block content %}
<cursor id="cursor" class="{{crate::ClassName::DISAPPEAR}}"></cursor>
<iframe class="{{crate::ClassName::SHADER_BACKGROUND}}" style="width:100%;height:100%;border:0px;" allow="autoplay; camera; microphone" src="https://cables.gl/view/qE3FbG"></iframe>
{% endblock %}