{% extends "partials/base.html" %}
{%- import "macros/js.html" as js -%}

{% block title %}Audrick Yeu | Portofolio{% endblock %}

{% block head %}

<meta name="fediverse:creator" content="@klownie_@mastodon.social">

<meta name="author" content="Audrick Yeu">
<meta name="robots" content="index, follow">
<meta name="description" content="Audrick Concept Art Portofolio">
<meta name="keywords" content="Audrick, Yeu, Concept Artist, Portofolio, Klownie">

<meta property="og:type" content="website">
<meta property="og:url" content="https://portofolio.klownie.me">
<meta property="og:title" content="Audrick Yeu - Portofolio">
<meta property="og:description" content="Personal concept portofolio website">

<style>
    {{ crate::STYLE_SHEET|safe}}
</style>

{%- call js::htmx -%}
{%- call js::CoolCursor -%}
<script src="/assets/js/hyperscript.min.js"></script>

{% endblock %}

{% block content %}
    <cursor id="cursor" class="{{crate::ClassName::DISAPPEAR}}"></cursor>
    <canvas id="glcanvas" class="{{crate::ClassName::SHADER_BACKGROUND}}" tabindex="1"></canvas>
    <script type="text/javascript" src="/assets/js/patch.js" async></script>
    <script type="text/javascript">

        function showError(initiator,...args)
        {
            CABLES.logErrorConsole("[" + initiator + "]", ...args);
        }

        function patchInitialized(patch)
        {
            // You can now access the patch object (patch), register variable watchers and so on
        }

        function patchFinishedLoading(patch)
        {
            // The patch is ready now, all assets have been loaded
        }

        document.addEventListener("CABLES.jsLoaded", function (event)
        {
            CABLES.patch = new CABLES.Patch({
                patch: CABLES.exportedPatch,
                "prefixAssetPath": "",
                "assetPath": "assets/",
                "jsPath": "js/",
                "glCanvasId": "glcanvas",
                "glCanvasResizeToWindow": true,
                "onError": showError,
                "onPatchLoaded": patchInitialized,
                "onFinishedLoading": patchFinishedLoading,
                "canvas": {"alpha":true, "premultipliedAlpha":true } // make canvas transparent
            });
        });

        // disable rubberband effect on mobile devices
        document.getElementById('glcanvas').addEventListener('touchmove', (e)=>{ e.preventDefault(); }, false);
    </script>
{% endblock %}
