{% extends "partials/base.html" %}

{% block title %}Audrick Yeu | Portofolio{% endblock %}

{% block head %}

<meta name="fediverse:creator" content="@klownie_@mastodon.social">

<meta name="robots" content="max-image-preview:large">
<meta name="description" content="Audrick Concept Art Portofolio">

<meta property="og:url" content="https://portofolio.klownie.me">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Audrick Yeu Portofolio">
<meta property="og:title" content="Audrick Yeu - Portofolio">
<meta property="og:description" content="Personal concept portofolio website">

<style>
    {{ crate::STYLE_SHEET }}
    @font-face {
        font-family: Mononoki;
        font-weight: 400;
        font-style: normal;
        src: url('/assets/fonts/mononoki-Regular.woff2') format('woff2'),
        url('/assets/fonts/mononoki-Regular.woff') format('woff');
        font-display: swap;
    }

    @font-face {
        font-family: Mononoki;
        font-weight: 700;
        font-style: normal;
        src: url('/assets/fonts/mononoki-Bold.woff2') format('woff2'),
        url('/assets/fonts/mononoki-Bold.woff') format('woff');
        font-display: swap;
    }

    @font-face {
        font-family: Mononoki;
        font-weight: 400;
        font-style: italic;
        src: url('/assets/fonts/mononoki-Italic.woff2') format('woff2'),
        url('/assets/fonts/mononoki-Italic.woff') format('woff');
        font-display: swap;
    }

    @font-face {
        font-family: Mononoki;
        font-weight: 700;
        font-style: italic;
        src: url('/assets/fonts/mononoki-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/mononoki-BoldItalic.woff') format('woff');
        font-display: swap;
    }

    @font-face {
        font-family: IBM-VGA8;
        font-weight: 400;
        font-style: normal;
        src: url('/assets/fonts/pxplus_ibm_vga8-webfont.woff2') format('woff2'),
        url('/assets/fonts/pxplus_ibm_vga8-webfont.woff') format('woff');
        font-display: swap;
    }

    @font-face {
        font-family: SixtyFour;
        font-weight: 400;
        font-style: normal;
        src: url('/assets/fonts/sixtyfour-regular-variablefont_bledscan-webfont.woff2') format('woff2'),
        url('/assets/fonts/sixtyfour-regular-variablefont_bledscan-webfont.woff') format('woff');
        font-display: swap;
    }
</style>
{% endblock %}

{% block content %}
<cursor id="cursor" class="{{crate::ClassName::DISAPPEAR}}"></cursor>
{% endblock %}