{% macro toggle_image(project) %}

<div class="{{crate::ClassName::FRAME_CONTAINER}}">
    <img
            id="frame"
            class="{{crate::ClassName::FRAME}}"
            src=/assets/projects/{{project}}/thumbnail.avif
            alt="{{project}}"
            hx-get="api/fullscreen?fullscreen={{fullscreen}}&project={{project}}"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#toggledcontainer"
            _="on intersection(intersecting) having threshold 0.3
             if intersecting transition opacity to 1
             else transition opacity to 0 end
            "
    />
    <p>{{project|clean_name}}</p>
</div>

{% endmacro %}

{% macro svgicon16(pathd,size) %}
<svg viewBox="0 0 16 16" fill="currentColor" height="{{size}}" width="{{size}}" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon24(pathd,size) %}
<svg viewBox="0 0 24 24" fill="currentColor" height="{{size}}" width="{{size}}" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon512(pathd,size) %}
<svg viewBox="0 0 512 512" fill="currentColor" height="{{size}}" width="{{size}}" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon1024(pathd,size) %}
<svg viewBox="0 0 1024 1024" fill="currentColor" height="{{size}}" width="{{size}}" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}
