<section id="toggledcontainer" style="display: none"></section>
<main class={{crate::ClassName::MASONRY}}>
    {% for project in projects %}
    {% call toggle_image(project) %}
    {% endfor %}
</main>

{% macro toggle_image(project) %}
<article
        class="{{crate::ClassName::FRAME_CONTAINER}}"
>
    <img
            role="button"
            class="{{crate::ClassName::FRAME}}"
            src=/assets/projects/{{project}}/thumbnail.avif
            alt="{{project}}"
            hx-get="api/projects/{{project}}"
            hx-trigger="mouseover"
            hx-swap="innerHTML "
            hx-target="#toggledcontainer"
            _="
             on click add .{{crate::ClassName::NO_SCROLL}} to <body/>
                then show #toggledcontainer
            "
    />
    <p>{{project|clean_name}}</p>
</article>
{% endmacro %}