<div id="toggledcontainer" preload></div>
<div class={{crate::ClassName::MASONRY}}>
    {% for project in projects %}
    {% call toggle_image(project) %}
    {% endfor %}
</div>

{% macro toggle_image(project) %}

<div class="{{crate::ClassName::FRAME_CONTAINER}}" href="api/projects/{{project}}" preload="mouseover" preload-images="true">
    <img
            id="frame"
            class="{{crate::ClassName::FRAME}}"
            loading="lazy"
            src=/assets/projects/{{project}}/thumbnail.avif
            alt="{{project}}"
            hx-get="api/fullscreen?fullscreen=false&project={{project}}"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-target="#toggledcontainer"
            _="on intersection(intersecting) having threshold 0.3
             if intersecting transition opacity to 1
             else transition opacity to 0 end
             on click add .{{crate::ClassName::NO_SCROLL}} to <body/>"
    />
    <p>{{project|clean_name}}</p>
</div>

{% endmacro %}