{%- import "macros/icons.html" as icons -%}
<div class="{{crate::ClassName::SOCIALS}}">
  <a href="https://www.artstation.com/klownie" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconArtStation -%}
  </a>
  <a href="https://cara.app/klownie" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconCara -%}
  </a>
  <a href="https://www.instagram.com/klownie_/" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconInstagram -%}
  </a>
  <a href="https://pixelfed.social/i/web/profile/498090351461638323" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconPixelFed -%}
  </a>
  <a href="https://lor.sh/@klownie" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconMastodon -%}
  </a>
  <a href="https://bsky.app/profile/cklownie.bsky.social" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconBlueSky -%}
  </a>
</div>
