{%- import "macros/icons.html" as icons -%}
<address>
  <a href="https://www.artstation.com/klownie">
    {%- call icons::IconArtStation -%}
  </a>
  <a href="https://cara.app/klownie">
    {%- call icons::IconCara -%}
  </a>
  <a href="https://www.instagram.com/klownie_/">
    {%- call icons::IconInstagram -%}
  </a>
  <a href="https://pixelfed.social/i/web/profile/498090351461638323">
    {%- call icons::IconPixelFed -%}
  </a>
  <a href="https://mastodon.social/deck/@klownie_">
    {%- call icons::IconMastodon -%}
  </a>
  <a href="https://bsky.app/profile/cklownie.bsky.social">
    {%- call icons::IconBlueSky -%}
  </a>
</address>
