{%- import "macros/icons.html" as icons -%}
<div class="{{crate::ClassName::SOCIALS}}">
  <a href="https://www.artstation.com/klownie" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconArtStation("1.5rem") -%}
  </a>
  <a href="https://cara.app/klownie" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconCara("1.5rem") -%}
  </a>
  <a href="https://www.instagram.com/klownie_/" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconInstagram("1.5rem") -%}
  </a>
  <a href="https://pixelfed.social/i/web/profile/498090351461638323" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconPixelFed("1.5rem") -%}
  </a>
  <a href="https://lor.sh/@klownie" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconMastodon("1.5rem") -%}
  </a>
  <a href="https://bsky.app/profile/cklownie.bsky.social" class="{{crate::ClassName::SOCIALS_CONTAINER}}">
    {%- call icons::IconBlueSky("1.5rem") -%}
  </a>
</div>
