{%- import "macros/icons.html" as icons -%}

<a href="https://github.com/klownie/KlowniePortofolio/tree/main" class="{{crate::ClassName::TOPPER}}">
    {%- call icons::IconGitHub("1.5rem") -%} /home/klownie/me ~>
</a>
<span class="{{crate::ClassName::FADED}}">echo selected theme :
    <button _="
        set :themes to ['Twilight','Everblush','RosePineMoon','TempusTempest']
        on click increment :x
            then set theme to :themes[:x mod :themes.length]
            then send swap(theme:theme) to <body/>
            then put theme into me
            then log theme
    ">
        Twilight
    </button>
</span>