body {
  --color: #333;
  --black: var(--color);
  --red: var(--color);
  --green: var(--color);
  --yellow: var(--color);
  --blue: var(--color);
  --magenta: var(--color);
  --cyan: var(--color);
  --white: var(--color);
  --bright-black: var(--color);
  --bright-red: var(--color);
  --bright-green: var(--color);
  --bright-yellow: var(--color);
  --bright-blue: var(--color);
  --bright-magenta: var(--color);
  --bright-cyan: var(--color);
  --bright-white: var(--color);
  --background: var(--color);
  --foreground: var(--color);
  --cursor: var(--color);
}

body[theme='Twilight'] {
  --black: #141414;
  --red: #C06D44;
  --green: #AFB97A;
  --yellow: #C2A86C;
  --blue: #44474A;
  --magenta: #B4BE7C;
  --cyan: #778385;
  --white: #FFFFD4;

  --bright-black: #262626;
  --bright-red: #DE7C4C;
  --bright-green: #CCD88C;
  --bright-yellow: #E2C47E;
  --bright-blue: #5A5E62;
  --bright-magenta: #D0DC8E;
  --bright-cyan: #8A989B;
  --bright-white: #FFFFD4;

  --background: #141414;
  --foreground: #FFFFD4;

  --cursor: #FFFFD4;
}

body[theme='Everblush'] {
  --black: #232A2D;
  --red: #E57474;
  --green: #8CCF7E;
  --yellow: #E5C76B;
  --blue: #67B0E8;
  --magenta: #C47FD5;
  --cyan: #6CBFBF;
  --white: #B3B9B8;

  --bright-black: #2D3437;
  --bright-red: #EF7E7E;
  --bright-green: #96D988;
  --bright-yellow: #F4D67A;
  --bright-blue: #71BAF2;
  --bright-magenta: #CE89DF;
  --bright-cyan: #67CBE7;
  --bright-white: #BDC3C2;

  --background: #141B1E;
  --foreground: #DADADA;

  --cursor: #DADADA;
}

body[theme='RosePineMoon'] {
  --black: #393552;
  --red: #EB6F92;
  --green: #9CCFD8;
  --yellow: #F6C177;
  --blue: #3E8FB0;
  --magenta: #C4A7E7;
  --cyan: #EA9A97;
  --white: #E0DEF4;

  --bright-black: #474457;
  --bright-red: #EB6F92;
  --bright-green: #9CCFD8;
  --bright-yellow: #F6C177;
  --bright-blue: #3E8FB0;
  --bright-magenta: #C4A7E7;
  --bright-cyan: #EA9A97;
  --bright-white: #E0DEF4;

  --background: #232136;
  --foreground: #E0DEF4;

  --cursor: #E0DEF4;
}

body[theme='SeaShells'] {
  --black: #17384C;
  --red: #ce6540;
  --green: #027C9B;
  --yellow: #FCA02F;
  --blue: #1E4950;
  --magenta: #68D4F1;
  --cyan: #50A3B5;
  --white: #DEB88D;

  --bright-black: #434B53;
  --bright-red: #D48678;
  --bright-green: #628D98;
  --bright-yellow: #FDD39F;
  --bright-blue: #1BBCDD;
  --bright-magenta: #BBE3EE;
  --bright-cyan: #87ACB4;
  --bright-white: #FEE4CE;

  --background: #09141B;
  --foreground: #DEB88D;

  --cursor: #DEB88D;
}

body[theme='AtelierSulphurpool'] {
  --black: #121628;
  --red: #d36e4f;
  --green: #ac9739;
  --yellow: #c08b30;
  --blue: #3d8fd1;
  --magenta: #9c637a;
  --cyan: #22a2c9;
  --white: #dfe2f1;

  --bright-black: #33414f;
  --bright-red: #d57835;
  --bright-green: #ac9739;
  --bright-yellow: #c08b30;
  --bright-blue: #6679cc;
  --bright-magenta: #9c637a;
  --bright-cyan: #22a2c9;
  --bright-white: #f5f7ff;

  --background: #202746;
  --foreground: #898ea4;

  --cursor: #898ea4;
}