body {
  --black: #333333;
  --red: #333333;
  --green: #333333;
  --yellow: #333333;
  --blue: #333333;
  --magenta: #333333;
  --cyan: #333333;
  --white: #333333;

  --bright-black: #333333;
  --bright-red: #333333;
  --bright-green: #333333;
  --bright-yellow: #333333;
  --bright-blue: #333333;
  --bright-magenta: #333333;
  --bright-cyan: #333333;
  --bright-white: #333333;

  --background: #333333;
  --foreground: #333333;

  --cursor: #333333;
}

body[theme='Twilight'] {
  --black: #141414;           /* Black */
  --red: #C06D44;             /* Red */
  --green: #AFB97A;           /* Green */
  --yellow: #C2A86C;          /* Yellow */
  --blue: #44474A;            /* Blue */
  --magenta: #B4BE7C;         /* Magenta */
  --cyan: #778385;            /* Cyan */
  --white: #FFFFD4;           /* White */

  --bright-black: #262626;    /* Bright Black */
  --bright-red: #DE7C4C;      /* Bright Red */
  --bright-green: #CCD88C;    /* Bright Green */
  --bright-yellow: #E2C47E;   /* Bright Yellow */
  --bright-blue: #5A5E62;     /* Bright Blue */
  --bright-magenta: #D0DC8E;  /* Bright Magenta */
  --bright-cyan: #8A989B;     /* Bright Cyan */
  --bright-white: #FFFFD4;    /* Bright White */

  --background: #141414;      /* Background */
  --foreground: #FFFFD4;      /* Foreground */

  --cursor: #FFFFD4;          /* Cursor */
}

body[theme='Everblush'] {
  --black: #232A2D;             /* Black */
  --red: #E57474;               /* Red */
  --green: #8CCF7E;             /* Green */
  --yellow: #E5C76B;            /* Yellow */
  --blue: #67B0E8;              /* Blue */
  --magenta: #C47FD5;           /* Magenta */
  --cyan: #6CBFBF;              /* Cyan */
  --white: #B3B9B8;             /* White */

  --bright-black: #2D3437;      /* Bright Black */
  --bright-red: #EF7E7E;        /* Bright Red */
  --bright-green: #96D988;      /* Bright Green */
  --bright-yellow: #F4D67A;     /* Bright Yellow */
  --bright-blue: #71BAF2;       /* Bright Blue */
  --bright-magenta: #CE89DF;    /* Bright Magenta */
  --bright-cyan: #67CBE7;       /* Bright Cyan */
  --bright-white: #BDC3C2;      /* Bright White */

  --background: #141B1E;        /* Background */
  --foreground: #DADADA;        /* Foreground */

  --cursor: #DADADA;            /* Cursor */
}

body[theme='RosePineMoon'] {
  --black: #393552;             /* Black */
  --red: #EB6F92;               /* Red */
  --green: #9CCFD8;             /* Green */
  --yellow: #F6C177;            /* Yellow */
  --blue: #3E8FB0;              /* Blue */
  --magenta: #C4A7E7;           /* Magenta */
  --cyan: #EA9A97;              /* Cyan */
  --white: #E0DEF4;             /* White */

  --bright-black: #6E6A86;      /* Bright Black */
  --bright-red: #EB6F92;        /* Bright Red */
  --bright-green: #9CCFD8;      /* Bright Green */
  --bright-yellow: #F6C177;     /* Bright Yellow */
  --bright-blue: #3E8FB0;       /* Bright Blue */
  --bright-magenta: #C4A7E7;    /* Bright Magenta */
  --bright-cyan: #EA9A97;       /* Bright Cyan */
  --bright-white: #E0DEF4;      /* Bright White */

  --background: #232136;        /* Background */
  --foreground: #E0DEF4;        /* Foreground */

  --cursor: #E0DEF4;            /* Cursor */
}

body[theme='TempusTempest'] {
  --black: #282b2b;             /* Black */
  --red: #cfc80a;               /* Red */
  --green: #7ad97a;             /* Green */
  --yellow: #bfcc4a;            /* Yellow */
  --blue: #60d7cd;              /* Blue */
  --magenta: #c5c4af;           /* Magenta */
  --cyan: #8bd0bf;              /* Cyan */
  --white: #b0c8ca;             /* White */

  --bright-black: #323535;      /* Bright Black */
  --bright-red: #d1d933;        /* Bright Red */
  --bright-green: #99e299;      /* Bright Green */
  --bright-yellow: #bbde4f;     /* Bright Yellow */
  --bright-blue: #74e4cd;       /* Bright Blue */
  --bright-magenta: #d2d4aa;    /* Bright Magenta */
  --bright-cyan: #9bdfc4;       /* Bright Cyan */
  --bright-white: #b6e0ca;      /* Bright White */

  --background: #282b2b;        /* Background */
  --foreground: #b6e0ca;        /* Foreground */

  --cursor: #b6e0ca;            /* Cursor */
}
