<style>
    @font-face {
        font-family: Mononoki;
        font-weight: 400;
        font-style: normal;
        src: url('/assets/fonts/mononoki-Regular.woff2') format('woff2'),
        url('/assets/fonts/mononoki-Regular.woff') format('woff');
    }
    @font-face {
        font-family: Mononoki;
        font-weight: 700;
        font-style: normal;
        src: url('/assets/fonts/mononoki-Bold.woff2') format('woff2'),
        url('/assets/fonts/mononoki-Bold.woff') format('woff');
    }
    @font-face {
        font-family: Mononoki;
        font-weight: 400;
        font-style: italic;
        src: url('/assets/fonts/mononoki-Italic.woff2') format('woff2'),
        url('/assets/fonts/mononoki-Italic.woff') format('woff');
    }
    @font-face {
        font-family: Mononoki;
        font-weight: 700;
        font-style: italic;
        src: url('/assets/fonts/mononoki-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/mononoki-BoldItalic.woff') format('woff');
    }
</style>