{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/index.scss") %}

<div
        id="toggledcontainer"
>
    <style>
        {{ style_sheet }}
    </style>

    {% if fullscreen %}
    <button
            class="{{class_name.floating_x_button}}"
            hx-get="api/fullscreen?fullscreen={{fullscreen}}&project={{project}}"
            hx-swap="outerHTML"
            hx-target="#toggledcontainer"
            hx-trigger="click"
    >
        x
    </button>
    <div
            hx-get="api/projects/{{project}}"
            hx-trigger="load"
            hx-swap="outerHTML"
    >
    </div>
    {% else %}
    {% endif %}
</div>
