{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/index.scss") %}

<style>
    {{ style_sheet }}
</style>
<div
        hx-get="api/fullscreen?fullscreen={{fullscreen}}&project={{project}}"
        hx-swap="outerHTML"
>
    <img class="{{class_name.frame}}" src=/assets/projects/{{project}}/thumbnail.avif alt="FRAME" />
    {% if fullscreen %}
    <div
            hx-get="api/projects/{{project}}"
            hx-trigger="load"
            hx-swap="outerHTML"
    >
    </div>
    {% else %}
    {% endif %}
</div>
