{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/index.scss") %}

<style>
    {{ style_sheet }}
</style>

<div
        id="toggledcontainer"
>
    {% if fullscreen %}
    <button
            class="{{class_name.floating_x_button}}"
            hx-get="api/fullscreen?fullscreen={{fullscreen}}&project={{project}}"
            hx-swap="outerHTML"
            hx-target="#toggledcontainer"
    >
        X
    </button>
    <div
            hx-get="api/projects/{{project}}"
            hx-trigger="load"
            hx-swap="outerHTML"
    >
    </div>
    {% else %}
    {% endif %}
</div>
