{% extends "base.html" %}
{%- import "macro.html" as scope -%}

{% block title %}Audrick Yeu | Portofolio{% endblock %}

{% block content %}
{% let (style_sheet, class_name) = turf::style_sheet_values!("templates/index.scss") %}
<style>
    {{ style_sheet }}
</style>
{% include "fonts.html" %}

{% include "interactive_name.html" %}

<div class={{class_name.socials}}>
    <a href="https://www.artstation.com/klownie">artstation</a>|
    <a href="https://cara.app/klownie">cara</a>|
    <a href="https://www.instagram.com/klownie_/">insta</a>|
    <a href="https://pixelfed.social/i/web/profile/498090351461638323">pixelfed</a>|
    <a href="https://lor.sh/@klownie">mastodon</a>
</div>

<p class={{class_name.bio}}>
    ░ 19 years old – French/Taiwanese<br />
    ░ Concept Artist Student<br />
    ░ Curious & passionate, I am open for freelance positions.<br />
    ░ audrickyeu@proton.me
</p>


<div class={{class_name.masonry}}>
    {% for path in masonry %}
    {% call scope::toggle_image(path) %}
    {% endfor %}
</div>

{% endblock %}