{% extends "base.html" %}
{%- import "macro.html" as scope -%}

{% block title %}Audrick Yeu | Portofolio{% endblock %}

{% block content %}
{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/index.scss") %}
<style>
    {{ style_sheet }}
</style>

{% include "fonts.html" %}

{% include "interactive_name.html" %}

{% include "socials.html" %}

<p class={{class_name.bio}}>
    ░ 19 years old – French/Taiwanese<br />
    ░ Concept Artist Student<br />
    ░ Curious & passionate, I am open for freelance positions.<br />
    ░ audrickyeu@proton.me<br />
    ░ I designed and developed this website to showcase my portfolio
</p>


<div class={{class_name.masonry}}>
    {% for project in masonry %}
    {% call scope::toggle_image(project) %}
    {% endfor %}
</div>

{% endblock %}
