{% macro toggle_image(project) %}

{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/index.scss") %}

<style>
    {{ style_sheet }}
</style>

<img
        class="{{class_name.frame}}"
        src=/assets/projects/{{project}}/thumbnail.avif
        alt="FRAME"
        hx-get="api/fullscreen?fullscreen={{fullscreen}}&project={{project}}"
        hx-swap="outerHTML"
        hx-target="#toggledcontainer"
/>

<div
        id="toggledcontainer"
>
</div>

{% endmacro %}

{% macro svgicon16(pathd) %}
<svg viewBox="0 0 16 16" fill="currentColor" height="1rem" width="1rem" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon24(pathd) %}
<svg viewBox="0 0 24 24" fill="currentColor" height="1rem" width="1rem" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon512(pathd) %}
<svg viewBox="0 0 512 512" fill="currentColor" height="1rem" width="1rem" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}
