{% macro toggle_image(path) %}

{% let (style_sheet, class_name) = turf::style_sheet_values!("templates/index.scss") %}

<style>
    {{ style_sheet }}
</style>
<div
        hx-get="api/fullscreen?fullscreen={{fullscreen}}&path={{path}}"
        hx-swap="outerHTML"
>
    {% if fullscreen %}
    <img class="{{class_name.fullscreenimage}}" src={{path}} alt="Fullscreen Image" />
    {% else %}
    <img class="{{class_name.frame}}" src={{path}} alt="SAMU" />
    {% endif %}
</div>


{% endmacro %}

{% macro svgicon16(pathd) %}
<svg viewBox="0 0 16 16" fill="currentColor" height="1rem" width="1rem" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon24(pathd) %}
<svg viewBox="0 0 24 24" fill="currentColor" height="1rem" width="1rem" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}

{% macro svgicon512(pathd) %}
<svg viewBox="0 0 512 512" fill="currentColor" height="1rem" width="1rem" role="graphics-symbol">
    <path d="{{pathd}}"></path>
</svg>
{% endmacro %}
